/* =================Home Page================== */
@media (max-width: 600px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    /* Hide Home section */
    .home {
        display: none;
    }

    /* Adjust logo size */
    .logo {
        width: 150px;
        height: 120px;
    }

    /* Adjust login button */
    .nav-btn {
        padding: 6px 16px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ============Main back============= */
    .banner-section{
        flex-direction: column;
        height: 550px;
    }
    .front-description {
        font-size: 18px;
        text-align: center;
        margin-left: 200px;
        width: 250px;
    }
    .front-content{
        margin-left: 140px;
        padding-right: 0px;
    }
    .main-background{
        width: 100%;
        height: 550px;
        background-image: url("/img/frontbackgroundmediaquery.jpg");
        position: absolute;
    }

    /* ==============Restaurant cards=============== */
    .restro-cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 90%;
    }

    /* ===============About section============= */
    .about-page{
        position: relative;
    }

    .about-img{
        width: 100%;
        height: 300px;  
        margin: 0;
        object-fit: cover;
    }

    .black-shadow{
        width: 100%;
        height: 300px;
        margin: 0;
    }

    .aboutus{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        text-align: center;
        color: white;
    }

    .about-head{
        font-size: 22px;
    }

    .about-desc{
        font-size: 12px;
        width: auto;
    }

    .about-btn{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 18px;
        font-size: 12px;
    }
}
    /*============== Footer=============== */
    @media (max-width: 600px) {
    .down-section {
        flex-direction: column; 
        padding-left: 60px;     
        padding-right: 20px;    
        gap: 20px;            
    }

    .info-box {
        width: 100%;          
        margin-left: 0;         
        margin-right: 0;
    }

    .social-icons {
        text-align: left;       
    }
}


    

    /*=====================Product Page===============  */
    @media (max-width: 600px) {

    /* ===== HEADER ===== */
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    /* Hide Home section */
    .head-search {
        display: none;
    }
    .head-icons{
        display: none;
    }

    /* Adjust logo size */
    .logo {
        width: 150px;
        height: 120px;
    }

    /* Adjust login button */
    .nav-btn {
        padding: 6px 16px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ===== TOP RESTAURANT BANNER ===== */

    .second-background {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    .black-container{
        width: 100%;
    }
    .top-heading{
        padding-left: 15px;
    }
    .firelogo {
        width: 80px;
    }
    .restro-heading {
        font-size: 18px;
    }
    .order-detail {
        font-size: 14px;
    }

    /* ===== SECOND NAV ===== */

    .menu-bar {
        justify-content: space-around;
        margin-top: 10px;
    }
    .line{
        margin-bottom: 0px;
    }
    .name{
        font-size: 17px; 
    }
    .slideline{
        display: none;

        margin-bottom: 0px;
    }
    .heart {
        display: none;
    }

    /* ===== SIDEBAR ===== */
    .sidebar {
        display: none;   
    }

    /* ===== SEARCH FOOD ===== */

    .product {
        width: 95%;
        margin: 10px auto;
        position: absolute;
        left: 15px;
        top: 480px;
    }

    .dish-search {
        width: 80%;
        padding: 10px;
        margin-bottom: 0;
        margin-left: 8px;
    }

    /* ===== PIZZA CARDS ===== */
    .pizz-cards{
        margin-left: 0px;
        position: absolute;
        top: 570px;
    }
    .pizz-heading {
        font-size: 18px;
        text-align: center;
        padding: 9px 0px;
        width: 430px;
        margin-bottom: 20px;
    }

    .firepizz-card {
        height: 300px;
        width: 300px;
        margin: 15px auto;
        display: block;
        overflow: hidden;
    }

    .pizz-img {
        width: 90%;
        height: 160px;
        margin: 0px;
        margin: 15px;
    }
    .card-spacer{
        display: none;
    }
    .card-price{
        display: none;
    }
    .card-heading {
        font-size: 16px;
        margin-left: 15px;
    }

    .card-detail {
        font-size: 13px;
        margin-left: 15px;
    }

    .addtobag {
        width: 80%;
        padding: 10px;
        font-size: 14px;
        margin: 10px 0 10px 30px;
    }

    /* ===== BAG ===== */
    .bag {
        display: none; 
    }

    /* ===== FOOTER ===== */
    .downpage2 {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 1600px;
        padding-left: 90px;
    }

    .info-box {
        margin-bottom: 20px;
        padding-right: 50px;
    }
    .down-head{
        text-align: center;
    }
    .social-icons{
        text-align: left;
    }


}

/* ==============login page================ */
@media (max-width: 768px) {

    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .left-section{
        display: none
    }

    .right-section{
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-box{
        width: 90%;
        padding: 30px 20px;
    }
}