:root{
    --primary-yellow: #fedc01;
    --primary-orange: #E37B1B;
    --primary-black: #151414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Judson";
}
.nav{
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}
.logo-box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo{
    height: 150px;
    width: 220px;
    font-weight: bold;

}
.home{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    margin-right: 400px;
}
.nav-btn{
    padding:  7px 30px;
    color: white;
    background-color: var(--primary-black);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100px;
    font-size: 17px;
    margin-right: 35px;
    text-decoration: none;
}
.nav-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.banner-section {
    position: relative;
    width: 100%;
    height: 100vh; 
}
.main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.front-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding-right: 105px; 
    padding-bottom: 50px;
    color: white;
    text-align: right;  
}
.front-description{
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    text-align: center;
    margin-right: 20px;
}
.second{
    margin-top: 50px;
}
.sec-describe{
    font-size: 25px;
    font-weight: bold;
    margin-left: 80px;
}
.restro-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 65px;
}
.card{
    height: 270px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border-bottom: 2px solid black;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.card:hover {
    transform: scale(1.08);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.card-img{
    height: 180px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.inner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.card-name{
    font-size: 20px;
}
.card-place{
    font-size: 20px;
}
.third{
    margin-top: 50px;
}
.about-page {
    position: relative;   
    width: 100%;
    overflow: hidden;
}
.about-img{
    height: 670px;
    width: 1350px;
    margin-left: 80px;
    object-fit: cover;
}
.aboutus {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 520px;           
    transform: translateY(-50%);
    color: white;
    max-width: 500px;
}
.black-shadow {
    width: 1350px;
    height: 670px;
    margin-left: 80px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.about-head{
    font-size: 40px;
    text-align: center;
}
.about-desc{
    font-size: 23px;
    text-align: center;
    margin-top: 15px;
}
.about-btn {
    position: absolute;
    z-index: 2;
    left: 705px;
    top: 370px;
    background-color: #FFFAFA;
    height: 40px;
    padding: 0 25px;
    border: none;
}
.about-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.down-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    flex-direction: row;
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    margin-top: 50px;
}
.download-img{
    height:110px;
    width: 220px;
}
.info-box{
    width: 250px;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-left:60px;
}
.info-box li{
    list-style-type: none;
    color: black;
}
.down-head{
    color: black;
    font-size: 18px ;
}
.restro-cards a{
    text-decoration: none;
    color: black;
}
@media (max-width: 600px) {

    /* Keep logo left & login right */
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    /* Hide Home section */
    .home {
        display: none;
    }

    /* Adjust logo size */
    .logo {
        width: 150px;
        height: 120px;
    }

    /* Adjust login button */
    .nav-btn {
        padding: 6px 16px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ============Main back============= */
    .banner-section{
        flex-direction: column;
        height: 550px;
    }
    .front-description {
        font-size: 18px;
        text-align: center;
        margin-left: 50px;
    }
    .front-content{
        margin-left: 140px;
        padding-right: 50px;
    }
    .main-background{
        width: 100%;
        height: 550px;
        background-image: url("/img/frontbackgroundmediaquery.jpg");
        position: absolute;
    }

    /* ==============Restaurant cards=============== */
    .restro-cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 90%;
    }

    /* ===============About section============= */
    .about-page{
        position: relative;
    }

    .about-img{
        width: 100%;
        height: 300px;   /* adjust height for phone */
        margin: 0;
        object-fit: cover;
    }

    .black-shadow{
        width: 100%;
        height: 300px;
        margin: 0;
    }

    .aboutus{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        text-align: center;
        color: white;
    }

    .about-head{
        font-size: 22px;
    }

    .about-desc{
        font-size: 12px;
        width: auto;
    }

    .about-btn{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        padding: 8px 18px;
        font-size: 12px;
    }
}
    /*============== Footer=============== */
    .down-section {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info-box{
        margin-left: 90px;
    }

/* ===================Second Product Page Start================== */
.product-search{
    padding: 2px 14px;
    height: 35px;
    width: 470px;
    border-radius: 20px;
    color: #928888;
    margin-left: 100px;
    border: none;
}
.head-icons{
    display: flex;
    gap: 15px;
    height: 20px;
    margin-left: 150px;
}
.second-background{
    width: 100%;
    height: 330px;
    position: absolute;
    left: 0;
    top: 60px;
}
.black-container{
    width: 100%;
    height: 330px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
}
.top-container{
    display: flex;
    flex-direction: column;
}
.top-heading{
    display: flex;
    gap: 15px;
    position: relative;
    top: 160px;
    z-index: 2;   
    padding-left: 90px; 
}
.top-detail{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.list-item{
    list-style-type: none;
    color: white;
}
.restro-heading{
    color: white;
    font-size: 30px;
}
.order-detail{
    color: white;
    position: absolute;
    top: 120px;
    z-index: 2;
}
.nav-section{
    margin-top: 265px;
    display: flex;
}
.menu-bar{
    display: flex;
    gap: 50px;
    margin-left: 80px;
    list-style-type: none;
}
.heart{
    position: absolute;
    right: 200px;
    top: 420px;
    border: 1.5px solid black;
    padding: 6px 20px 5px 20px;
}
.heart:hover {
    color: red;
    transform: scale(1.08);
}
.name{
    font-size: 19px;
}
.name:hover{
    color: red;
}
.line{
    margin-top: 15px;
    border: 1px solid black;
}
.sidebar{
    width: 170px;
    margin-left:70px;
    margin-top: 40px;
}
.items{
    list-style-type: none;
    line-height: 1.5;
}
.categories{
    color: #389C35;
    font-size: 20px;
    font-weight: normal;
}
.cate-line{
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
}
.slideline{
    height: 1050px;
    width: 2px;
    position: absolute;
    left: 300px;
    top: 500px;
}
.product{
    display: flex;
    position: absolute;
    top: 505px;
    left: 385px;
    z-index: 1;

}
.dish-search{
    border: 1px solid black;
    height: 35px ;
    width: 600px;
    padding: 0 10px;
}
.search-sqbtn{
    height: 35px;
    width: 60px;
    padding: 0 10px;
    border: 1px solid black;
    background-color: white; 
}
.pizz-heading{
    height: 40px;
    width: 850px;
    font-size: 23px;
    font-weight: bold;
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    padding: 5px 10px;
}
.pizz-cards{
    display: flex;
    flex-direction: column ;
    margin-left: 350px;
    position: absolute;
    top: 580px;
}
.firepizz-card{
    margin-top: 50px;
    margin-bottom: 15px;
    width: 780px;
    height: 230px;
    display: flex;
    gap: 60px;
    box-shadow:4px 4px 10px 2px rgba(0, 0, 0, 0.4);
    inset: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px;
}
.pizz-img{
    width: 270px;
    height: 160px;
    margin-top:33px;
    margin-left: 40px;
}
.card-spacer{
    height: 180px;
    margin-top: 25px;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.card-heading{
    font-size: 22px;
    font-weight: normal;
}
.card-price{
    font-size: 21px;
    font-weight: normal;
}
.card-detail{
    font-size: 16px;
}
.addtobag{
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 35px;
    width: 270px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 14px;
}
.addtobag:hover{
    transform: scale(1.07);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.bag{
    position: absolute;
    right:50px;
    top: 660px;
}
.bag-img{
    height: 70px;
    width: 115px;
}
.bag-text{
    font-size: 17px;
    color: #828080;
    margin-top: 10px;
}
.bag-box{
    background-color: #CCCCCC;
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mybag{
    font-size: 19px;
    margin-bottom: 15px;
}
.downpage2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    width: 100%;
    margin-top: 50px;
    position: absolute;
    top: 1550px;
}
/* ================= MOBILE ================= */
@media (max-width: 600px) {

    /* ===== HEADER ===== */
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    /* Hide Home section */
    .head-search {
        display: none;
    }
    .head-icons{
        display: none;
    }

    /* Adjust logo size */
    .logo {
        width: 150px;
        height: 120px;
    }

    /* Adjust login button */
    .nav-btn {
        padding: 6px 16px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ===== TOP RESTAURANT BANNER ===== */

    .second-background {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    .black-container{
        width: 100%;
    }
    .top-heading{
        padding-left: 15px;
    }
    .firelogo {
        width: 80px;
    }
    .restro-heading {
        font-size: 18px;
    }
    .order-detail {
        font-size: 14px;
    }

    /* ===== SECOND NAV ===== */

    .menu-bar {
        justify-content: space-around;
        margin-top: 10px;
    }
    .line{
        margin-bottom: 0px;
    }
    .name{
        font-size: 17px; 
    }
    .slideline{
        display: none;
    }
    .heart {
        display: none;
    }

    /* ===== SIDEBAR ===== */
    .sidebar {
        display: none;   
    }

    /* ===== SEARCH FOOD ===== */

    .product {
        width: 95%;
        margin: 10px auto;
        position: absolute;
        left: 15px;
    }

    .dish-search {
        width: 80%;
        padding: 10px;
        margin-bottom: 0;
        margin-left: 8px;
    }

    /* ===== PIZZA CARDS ===== */
    .pizz-cards{
        margin-left: 0px;
    }
    .pizz-heading {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        width: 430px;
        margin-bottom: 20px;
    }

    .firepizz-card {
        height: 290px;
        width: 300px;
        margin: 15px auto;
        display: block;
    }

    .pizz-img {
        width: 100%;
        height: 180px;
        margin: 0px;
    }
    .card-spacer{
        display: none;
    }
    .card-price{
        display: none;
    }
    .card-heading {
        font-size: 16px;
    }

    .card-detail {
        font-size: 13px;
    }

    .addtobag {
        width: 80%;
        padding: 10px;
        font-size: 14px;
        margin: 10px 0 10px 30px;
    }

    /* ===== BAG ===== */
    .bag {
        display: none;   /* hide cart sidebar */
    }

    /* ===== FOOTER ===== */
    .downpage2 {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 1590px;
    }

    .info-box {
        margin-bottom: 20px;
        padding-right: 50px;
    }


}

/* =========================login page start======================== */

.login{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: 
        radial-gradient(
            circle at center,
            #A99A9E 10%,
            #433D3F 70%
        )
    ;       
}
.left-section{
    background-color: var(--primary-yellow);
    height: 580px;
    width: 500px;
}
.loginlogo{
    height: 120px;
    width: 280px;
}
.burger-img{
    height: 400px;
    width: 400px;
}
.burger-img:hover{
    transform: scale(1.08);
}
.craving{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/* ============right div==================*/
.right-section{
    width: 500px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: -80px;
}

.login-box{
    width:500px;
    background:#f4f4f4;
    padding:40px 50px;
    position:relative;
}

.login-head{
    font-size:32px;
    font-weight:600;
    margin-bottom:10px;
}

.login-box hr{
    margin-bottom:30px;
}

.close-btn{
    position:absolute;
    right:30px;
    top:20px;
    cursor:pointer;
    border: none;
    font-size: 30px;
    text-decoration: none;
}
.email-title , .password-title{
    display:block;
    margin:15px 0 8px;
    font-size:16px;
}
.email, .password{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
}

.remember{
    margin:20px 0;
}

.login-btn{
    width:100%;
    padding:15px;
    background:#3c3c3c;
    color: white;
    border:none;
    font-size:20px;
    cursor:pointer;
    margin-bottom:15px;
    border-radius: 30px;
}
.login-btn:hover{
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    color: black;
}
.forgot{
    text-align:center;
    font-size:14px;
    cursor:pointer;
}
/* ===== Mobile ===== */
@media (max-width: 768px) {

    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .left-section{
        display: none
    }

    .right-section{
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-box{
        width: 90%;
        padding: 30px 20px;
    }
}








