:root{
    --primary-yellow: #fedc01;
    --primary-orange: #E37B1B;
    --primary-black: #151414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Judson";
}
.nav{
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;

}
.logo-box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo{
    height: 150px;
    width: 220px;
    font-weight: bold;

}
.home{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    margin-right: 400px;
}
.nav-btn{
    padding: 8px 30px;
    color: var(--primary-yellow);
    background-color: var(--primary-black);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 100px;
    font-size: 17px;
    margin-right: 35px;
    text-decoration: none;
}
.first {
    position: relative;
    width: 100%;
    height: 100vh; 
}
.main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.front-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding-right: 105px; 
    padding-bottom: 50px;
    color: white;
    text-align: right;  
}
.front-description{
    font-size: 30px;
    margin-right: 20px;
}
.search-container {
    position: relative;
    width: 670px;
}

.search-box {
    height: 33px;
    width: 100%;
    border-radius: 20px;
    padding-right: 160px; 
    border: none;
    outline: none;
    background-color: #F2EAEA;
}
.search-btn {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);

    height: 33px;
    padding: 8px 30px;

    color: black;
    background: linear-gradient(
        to right,
        var(--primary-yellow),
        var(--primary-orange)
    );
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.second{
    margin-top: 50px;
}
.sec-describe{
    font-size: 25px;
    font-weight: bold;
    margin-left: 80px;
}
.restro-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{
    height: 270px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border-bottom: 2px solid black;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.card-img{
    height: 180px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.inner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.card-name{
    font-size: 20px;
}
.card-place{
    font-size: 20px;
}
.third{
    margin-top: 50px;
}
.about-page {
    position: relative;   
    width: 100%;
    overflow: hidden;
}
.about-img{
    height: 670px;
    width: 1350px;
    margin-left: 80px;
    object-fit: cover;
}
.aboutus {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 520px;           
    transform: translateY(-50%);
    color: white;
    max-width: 500px;
}
.black-shadow {
    width: 1350px;
    height: 670px;
    margin-left: 80px;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.about-head{
    font-size: 40px;
    text-align: center;
}
.about-desc{
    font-size: 23px;
    text-align: center;
    margin-top: 15px;
}
.about-btn {
    position: absolute;
    z-index: 2;
    left: 705px;
    top: 370px;
    background-color: #FFFAFA;
    height: 40px;
    padding: 0 25px;
    border: none;
}
.down{
    display: flex;
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 270px;
    margin-top: 50px;
}
.download-img{
    height:110px;
    width: 220px;
}
.info-box{
    width: 250px;
    margin-top: 50px;
    margin-left: 80px;
}
.info-box li{
    list-style-type: none;
    color: #433D3F;
}
.down-head{
    color: black;
    font-size: 18px ;
}
.restro-cards a{
    text-decoration: none;
    color: black;
}
/* ===================Second Product Page Start================== */
.product-search{
    padding: 2px 14px;
    height: 35px;
    width: 470px;
    border-radius: 20px;
    color: #928888;
    margin-left: 100px;
    border: none;
}
.head-icons{
    display: flex;
    gap: 15px;
    height: 20px;
    margin-left: 150px;
}
.second-background{
    width: 1528px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 60px;
}
.black-container{
    width: 1528px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
}
.top-container{
    display: flex;
    flex-direction: column;
}
.top-heading{
    display: flex;
    gap: 15px;
    position: relative;
    left: 90px;
    top: 320px;
    z-index: 2;    
}
.top-detail{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.list-item{
    list-style-type: none;
    color: white;
}
.restro-heading{
    color: white;
    font-size: 30px;
}
.order-detail{
    color: white;
    position: absolute;
    top: 120px;
    z-index: 2;
}
.remaining2{
    margin-top: 430px;
    display: flex;
}
.menu-bar{
    display: flex;
    gap: 50px;
    margin-left: 80px;
    list-style-type: none;
}
.heart{
    position: absolute;
    right: 200px;
    border: 1.5px solid black;
    padding: 6px 20px 5px 20px;
}
.name{
    font-size: 19px;
}
.line{
    margin-top: 18px;
    border: 1px solid black;
}
.sidebar{
    width: 170px;
    margin-left:70px;
    margin-top: 40px;
}
.items{
    list-style-type: none;
    line-height: 1.5;
}
.categories{
    color: #389C35;
    font-size: 18px;
    font-weight: normal;
}
.cate-line{
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
}
.slideline{
    height: 1050px;
    width: 2px;
    position: absolute;
    left: 300px;
    top: 660px;
}
.product{
    display: flex;
    position: absolute;
    top: 670px;
    left: 385px;
    z-index: 1;

}
.dish-search{
    border: 1px solid black;
    height: 35px ;
    width: 600px;
    padding: 0 10px;
}
.search-sqbtn{
    height: 35px;
    width: 60px;
    padding: 0 10px;
    border: 1px solid black;
    background-color: white; 
}
.pizz-heading{
    height: 40px;
    width: 850px;
    font-size: 23px;
    font-weight: bold;
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    padding: 5px 10px;
}
.pizz-cards{
    display: flex;
    flex-direction: column ;
    margin-left: 350px;
    position: absolute;
    top: 750px;
}
.firepizz-card{
    margin-top: 50px;
    margin-bottom: 15px;
    width: 780px;
    height: 230px;
    display: flex;
    gap: 60px;
    box-shadow:4px 4px 10px 2px rgba(0, 0, 0, 0.4);
    inset: 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px;
}
.pizz-img{
    width: 270px;
    height: 160px;
    margin-top:33px;
    margin-left: 40px;
}
.card-spacer{
    height: 180px;
    margin-top: 25px;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.card-heading{
    font-size: 22px;
    font-weight: normal;
}
.card-price{
    font-size: 21px;
    font-weight: normal;
}
.card-detail{
    font-size: 16px;
}
.addtobag{
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 35px;
    width: 270px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 14px;
}
.bag{
    position: absolute;
    right:50px;
    top: 820px;
}
.bag-img{
    height: 70px;
    width: 115px;
}
.bag-text{
    font-size: 17px;
    color: #828080;
    margin-top: 10px;
}
.bag-box{
    background-color: #CCCCCC;
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mybag{
    font-size: 19px;
    margin-bottom: 15px;
}
.downpage2{
    display: flex;
    background: linear-gradient(to right,var(--primary-yellow),var(--primary-orange));
    height: 270px;
    width: 1528px;
    margin-top: 50px;
    position: absolute;
    top: 1700px;
}
/* =========================login page start======================== */

.login{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: 
        radial-gradient(
            circle at center,
            #A99A9E 10%,
            #433D3F 70%
        )
    ;       
}
.left{
    background-color: var(--primary-yellow);
    height: 580px;
    width: 500px;
}
.loginlogo{
    height: 120px;
    width: 280px;
}
.burgerlogin{
    height: 400px;
    width: 400px;
}
.craving{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* ============right div==================*/
.right{
    width: 500px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: -80px;
}

.login-box{
    width:500px;
    background:#f4f4f4;
    padding:40px 50px;
    position:relative;
}

.login-head{
    font-size:32px;
    font-weight:600;
    margin-bottom:10px;
}

.login-box hr{
    margin-bottom:30px;
}

.close-btn{
    position:absolute;
    right:30px;
    top:20px;
    cursor:pointer;
    border: none;
    font-size: 30px;
}
.email-title , .password-title{
    display:block;
    margin:15px 0 8px;
    font-size:16px;
}
.email, .password{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
}

.remember{
    margin:20px 0;
}

.login-btn{
    width:100%;
    padding:15px;
    background:#3c3c3c;
    color:#FFD600;
    border:none;
    font-size:20px;
    cursor:pointer;
    margin-bottom:15px;
}
.forgot{
    text-align:center;
    font-size:14px;
    cursor:pointer;
}







